*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: auto;
    background-color: #818181;

}
#main ::-webkit-scrollbar{
    display: none;
    
}
textarea{
    resize: none;
    /* background: transparent; */
    border-radius: 3px;
    background-color: #ffffff58;
    position: absolute;
    top: 0.5%;
    right: 0%;
    width: 40%;
    height: 4%;
    outline: none;
    border: none;
    font-size: 20px;
    font-style: italic;
    letter-spacing: .4px;

}
button{
    /* resize: none; */
    /* background: transparent; */
    position: absolute;
    border-radius: 50px;
    top: 5%;
    right: 0%;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    padding: 10px 42px;
    text-align: center;
    border: none;
    background-color: rgb(37, 91, 255);
}
button:hover{
    background-color: blue;
    cursor: pointer;
}
#card{
    margin-left: 20px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    width: 40%;
    position: relative;
    height: 20%;
    background-color: #fff;
    border-radius: 5px;
}
#card .inner1{
    width: 30%;
    height: 100%;
    /* background-color: green; */
    align-items: center;
    display: flex;    
    flex-direction: column;
}
h1{
    /* position: absolute; */
    font-family: ogg;
    
    font-size: 50px;
    margin-left: 30px;
    color: #fff;
}
#card #smcirc{
    overflow: hidden;

    width: 85px;
    margin-top: 10px;
    border: 2px solid gray;
    height: 85px;
    border-radius: 50%;
    /* background-color: red; */
}h2{
    font-family: monserrat;
    font-style: italic;
    font-size: 28px;
    color: black;
    font-weight: 400;
    margin-top: 7px;
}
.inner2{
    width: 70%;
    height: 100%;
    
}
.inner2>p{
   margin-top: 22px;
   font-family: gilroy;
   font-weight: 400;
   font-style: italic;
}
.inner2 i{
    font-size: 30px;
   position: absolute;
   left: 83%;
   color: royalblue;
   top: 72%;
}
.inner2 i:hover{
    cursor: pointer;
    color: blue;
}
.inner2 h5{
    font-size: 30px;
   position: absolute;
   left: 90%;
   top: 72%;

   font-weight: 100;
}
#smcirc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}